.item-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.img {
  width: 15rem;
}

.list-containe h1 {
  margin-left: 1rem;
}

.order-list-container {
  display: grid;
}

.p-dataview-content .p-grid {
  display: grid;
  gap: 1rem;
  justify-content: start;
}

.list-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
