.button {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
}

.button button:nth-child(1) {
  justify-self: end;
}

.button label {
  text-align: center;
  align-self: center;
}

.container {
  text-align: center;
  display: grid;
  justify-content: center;
}

.btn-addCart {
  margin-top: 20px;
}
