div.p-menubar {
  padding: 1rem;
  border-radius: 0;
  gap: 20px;
}

.p-menuitem {
  font-size: 2rem;
  font-family: "Sedgwick Ave", cursive;
}

.title {
  font-family: "Frijole", cursive;
  color: black;
}

.cart-icon {
  cursor: pointer;
  margin-right: 2rem;
}

.badge-container {
  display: inline-block;
  width: 100px;
}

.p-badge {
  position: relative;
  bottom: 20px;
  left: 35px;
}
